<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iurii's tasks App</title>
    <link rel="stylesheet" href="/client/src/bootstrap.css">
    <link rel="stylesheet" href="/client/src/style.css"> 
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
<body ng_app="tasks_app" ng-controller="tasks">
        <header><img src="/client/assets/logo.jpg" alt="todo logo" class="src"></header>
        <div class="form-group">
            <h1>Iurii's tasks List</h1>
            <form role="form" id="new_task">
                <input type="text" class="form-control" placeholder="Your Task" name="task" [{ng.model=tasks]>
            </form>
            <button type="button" class="btn btn btn-primary" ng-click=(add_task)>Add</button>
        </div>

        <div class="alert-success" id="tasks">
            <input type="checkbox" class="check" ng-click="delete_task">
            <li ng-click ng-class="active" : selected_task = ="select_tasks(tasks)" ng-class="{'active' : selected_tasks == tasks}">{{tasks.name}}</li>
            <button class="delete" ng-click="delete_task(task)">x</button>
        </div>
    </body>

    <script src="/scripts/angular1.7.8_min.js"></script>
    <script src="/scripts/app.js"></script>
</body>

</html>