<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iurii's tasks App</title>
    <script src="./angular1.7.8_min.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="./bootstrap.css">
    <link rel="stylesheet" href="./style.css"> 
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
<body ng-app="tasks_app" ng-controller="tasks">
        <header><img src="./assets/logo.jpg" alt="todo logo" class="src"></header>
        <div class="form-group">
            <h1>Iurii's tasks List</h1>
            <form role="form" id="new_task" ng-model="new_task">
                <input type="text" class="form-control" placeholder="Your Task" name="task" ng-keyup="create_task($event)">
            </form>
        </div>

        <div class="container" id="task" ng-repeat="task in tasks">
            <disv class="alert-success">{{task.name}}
                <input type="checkbox" class="check">
                <button class="complete">x</button>
            </div>
        
        </div>
    
   
</body>

</html>