<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iurii's tasks App</title>
    <script src="./angular1.7.8_min.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="./bootstrap.css">
    <link rel="stylesheet" href="./style.css"> 
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
<body ng_app="tasks_app" ng-controller="tasks">
        <header><img src="./assets/logo.jpg" alt="todo logo" class="src"></header>
        <div class="form-group">
            <h1>Iurii's tasks List</h1>
            <form role="form" id="new_task">
                <input type="text" class="form-control" placeholder="Your Task" name="task" [(ng.model)]="task">
            </form>
            <button type="button" class="btn btn btn-primary" ng-click=(select-task()) ng-click=(add_task(req.body))>Add</button>
        </div>

        <div class="container" id="task" ng-repeat="task in tasks">
            <div class="alert-success" ng-click ng-class="active" : selected_task = ="select_task(selected_task)" ng-class="{'active' : selected_task == task')">{{task.name}}
                <input type="checkbox" class="check" ng-click="delete_task(selected_task)">
                <button class="complete" ng-click="complete_task(selected_task)">x</button>
            </div>
        
        </div>
    
   
</body>

</html>