body {
    margin: auto;
    padding: 2em;
    text-align: center !important;
    width: 100vw;
    
}

header img {
    max-width: 2vw;
    max-height: 3vw;
}

li:active{
    background-color: darkgrey;
}
.delete {
    float: right;
    width: fit-content !important;
    text-align: center;  
}
.check {
    float: left;
    margin-top: 0.4rem;
    margin-left: 1rem;   
}
.complete{
    float: right;
    border-radius: 5px;
    font-size: 10px;
    margin-top: .2rem;
    margin-right: .3rem;   
}

